<!DOCTYPE html>
<html>
  <%= require('html-loader!../partials/header.html') %>

  <body class="">
    
    <!-- wrp -->
    <div class="wrp">
      <!-- right panel -->
      <div class="slidePanel">
        <span class="closePanel"
          ><img src="<%= require('../images/close-icon.png') %>"
        /></span>
        <div class="tabHead">
          <h2>Three Simple Steps to upload your auction</h2>

          <div class="tabMenu">
            <ul>
              <li class="active one bold">
                <a data-tab="one" href="javascript:void(0)">Product Details</a>
              </li>
              <li class="two">
                <a data-tab="two" href="javascript:void(0)">Type of Auction</a>
              </li>
              <li class="three">
                <a data-tab="three" href="javascript:void(0)"
                  >Auction details</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="tabContnt">
          <!-- tab 1 -->
          <div class="comnTab active" id="one">
            <div class="aucPro">
              <form action="" class="inptForm">
                <div id="testDiv">
                  <div class="input-group">
                    <label for="name">Name of the Auction Product</label>
                    <input type="text" class="focus" name="name" id="name" />
                  </div>

                  <div class="input-group">
                    <label for="name">Description of the Product</label>
                    <textarea class="focus" rows="1"></textarea>
                  </div>

                  <div class="fileUpld">
                    <h4>Drag & Drop Image</h4>
                    <span>or</span>
                    <cite>Browse Image</cite>
                    <input type="file" id="myFile" />
                  </div>
                </div>

                <input type="button" class="sbmt first" value="Next" />
              </form>
            </div>
          </div>
          <!-- tab 1 -->

          <!-- tab 2 -->
          <div class="comnTab" id="two">
            <div class="acc">
              <div class="acc__card">
                <div class="acc__title active">
                  <span>English Auction</span
                  ><cite class="slctd">Selected</cite>
                </div>
                <div class="acc__panel" style="display: block;">
                  <p>
                    An auction is usually a process of buying and selling goods
                    or services by offering them up for bid,
                  </p>
                  <label class="checkCntr">
                    <input type="checkbox" />
                    <span class="checkmark">Choose English Auction</span>
                  </label>
                </div>
              </div>

              <div class="acc__card">
                <div class="acc__title">
                  <span>Dutch Auction</span> <cite class="slctd">Selected</cite>
                </div>
                <div class="acc__panel">
                  <p>
                    An auction is usually a process of buying and selling goods
                    or services by offering them up for bid,
                  </p>
                  <label class="checkCntr">
                    <input type="checkbox" />
                    <span class="checkmark">Choose Dutch Auction</span>
                  </label>
                </div>
              </div>

              <div class="acc__card">
                <div class="acc__title">
                  <span>Sealed Bid</span> <cite class="slctd">Selected</cite>
                </div>
                <div class="acc__panel">
                  <p>
                    An auction is usually a process of buying and selling goods
                    or services by offering them up for bid,
                  </p>
                  <label class="checkCntr">
                    <input type="checkbox" />
                    <span class="checkmark">Choose Sealed Bid Auction</span>
                  </label>
                </div>
              </div>

              <div class="acc__card">
                <div class="acc__title">
                  <span>Vickery</span> <cite class="slctd">Selected</cite>
                </div>
                <div class="acc__panel">
                  <p>
                    An auction is usually a process of buying and selling goods
                    or services by offering them up for bid,
                  </p>
                  <label class="checkCntr">
                    <input type="checkbox" />
                    <span class="checkmark">Choose Vickery Auction</span>
                  </label>
                </div>
              </div>

              <input type="button" class="sbmt scnd" value="Next" />
            </div>
          </div>
          <!-- tab 2 -->

          <!-- tab 3 -->
          <div class="comnTab" id="three">
            <div class="aucPro">
              <form action="" class="inptForm">
                <h3>English Auction</h3>

                <div class="input-group">
                  <label for="name">Reserve Price</label>
                  <input type="text" class="focus" name="name" id="name" />
                </div>

                <div class="input-group">
                  <label for="name">Minimum Increment</label>
                  <input type="text" class="focus" name="name" id="name" />
                </div>

                <div class="input-group date">
                  <label for="name">Start Date</label>
                  <input
                    type="text"
                    class="focus"
                    name="name"
                    id="datepicker"
                  />
                </div>

                <div class="input-group time">
                  <label for="name">Start Time</label>
                  <input
                    type="text"
                    class="focus"
                    name="name"
                    id="timepicker"
                  />
                </div>

                <div class="input-group round">
                  <label for="name">Round Duration</label>
                  <input
                    type="text"
                    class="focus"
                    name="name"
                    placeholder="H"
                  />
                  <span>:</span>
                  <input
                    type="text"
                    class="focus"
                    name="name"
                    placeholder="M"
                  />
                </div>

                <input type="button" class="sbmt first" value="Next" />
              </form>
            </div>
          </div>
          <!-- tab 3 -->
        </div>
      </div>
      <!-- right panel -->

      <!-- header start -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="logo">
                <img
                  src="<%= require('../images/auction-logo.png') %>"
                  alt="logo"
                />
              </div>

              <div class="menuBox">
                <ul>
                  <li class="prodct"><a href="#">Auction your product</a></li>
                  <li class=""><a href="#">View Auctions</a></li>
                  <li><a href="#">My Auction</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- banner -->
      <section class="banner">
        <div class="container">
          <div class="lt">
            <h1>Auctions Are Fun, Get Ready, Set, Run.</h1>
            <p>
              Auction is a trading process that allows seller to identify
              potential buyers and the prices the buyers are willing to pay.
            </p>

            <span class="pwd">Powered by <a href="#">tezos</a></span>

            <ul>
              <li>
                <a href="#" class="butn"><span>View Auctions</span></a>
              </li>
              <li class="scnd">
                <a href="#" class="butn prodct"
                  ><span>Auction your product</span></a
                >
              </li>
            </ul>
          </div>

          <div class="rt">
            <img src="<%= require('../images/banner.svg') %>" />
          </div>
        </div>
      </section>
      <!-- banner -->

      <!-- trading -->
      <section class="trading">
        <div class="container">
          <div class="oneLine">
            <p>
              Auction is a trading process that allows seller to identify
              potential buyers and the prices the buyers are willing to pay.
            </p>
          </div>

          <div class="tradingBox moveup">
            <ul>
              <li>
                <div class="insdTarde">
                  <h2>English Auction</h2>
                  <p>
                    Auction is a trading process that allows seller to identify
                    potential buyers and the prices the buyers are willing to
                    pay.
                  </p>
                  <img src="<%= require('../images/trade1.svg') %>" />
                </div>
              </li>

              <li>
                <div class="insdTarde">
                  <h2>Dutch Auction</h2>
                  <p>
                    Auction is a trading process that allows seller to identify
                    potential buyers and the prices the buyers are willing to
                    pay.
                  </p>
                  <img src="<%= require('../images/trade2.svg') %>" />
                </div>
              </li>

              <li>
                <div class="insdTarde">
                  <h2>Sealed Bid</h2>
                  <p>
                    Auction is a trading process that allows seller to identify
                    potential buyers and the prices the buyers are willing to
                    pay.
                  </p>
                  <img src="<%= require('../images/trade3.svg') %>" />
                </div>
              </li>

              <li>
                <div class="insdTarde">
                  <h2>Vickery</h2>
                  <p>
                    Auction is a trading process that allows seller to identify
                    potential buyers and the prices the buyers are willing to
                    pay.
                  </p>
                  <img src="<%= require('../images/trade4.svg') %>" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- trading -->

      <!-- why use auction -->
      <section class="why moveup2">
        <div class="container">
          <h2>Why use Auction?</h2>

          <ul>
            <li>
              <div class="item">
                <img src="<%= require('../images/yes.svg') %>" />
                <h3>Transparent</h3>
                <p>
                  An auction is usually a process of buying and selling goods or
                  services by offering them up for bid,
                </p>
              </div>
            </li>

            <li>
              <div class="item">
                <img src="<%= require('../images/Secure.svg') %>" />
                <h3>Secure</h3>
                <p>
                  An auction is usually a process of buying and selling goods or
                  services by offering them up for bid,
                </p>
              </div>
            </li>

            <li>
              <div class="item">
                <img src="<%= require('../images/calendar.svg') %>" />
                <h3>Fast</h3>
                <p>
                  An auction is usually a process of buying and selling goods or
                  services by offering them up for bid,
                </p>
              </div>
            </li>

            <li>
              <div class="item">
                <img src="<%= require('../images/ok.svg') %>" />
                <h3>Cheaper</h3>
                <p>
                  An auction is usually a process of buying and selling goods or
                  services by offering them up for bid,
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- why use auction -->
    </div>
    <!-- wrp -->
  </body>
  <%= require('html-loader!../partials/footer.html') %>
</html>
