<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!../partials/header.html') %>
  </head>

  <body class="inside">
    <!-- wrp -->
    <div class="wrp">
      <!-- right panel -->
      <%= require('html-loader!../partials/auctionpanel.html') %>
      <!-- right panel -->

      <!-- header start -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="logo">
                <a href="/">
                  <img
                    src="<%= require('../images/auction-logo.png') %>"
                    alt="logo"
                  />
                </a>
              </div>

              <div class="menuBox">
                <ul>
                  <li id="prodct">
                    <a href="#">Auction your product</a>
                  </li>
                  <li class="active"><a href="#">View Auctions</a></li>
                  <li><a href="#">My Auction</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- cardBox -->
      <section class="cardBox">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#home"
                ><span> Upcoming </span><i id="upcoming-count">1</i></a
              >
            </li>
            <li>
              <a data-toggle="tab" href="#menu1"
                ><span> Ongoing </span><i id="ongoing-count">0</i></a
              >
            </li>
            <li>
              <a data-toggle="tab" href="#menu2"
                ><span> Completed </span><i id="completed-count">0</i></a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div id="upcoming-list">
              </div>
            </div>

            <div id="menu1" class="tab-pane fade"></div>

            <div id="menu2" class="tab-pane fade"></div>
          </div>
        </div>
      </section>
      <!-- cardBox -->
    </div>
    <!-- wrp -->
  </body>

  <%= require('html-loader!../partials/scripts.html') %>
</html>
