<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!../partials/header.html') %>
  </head>

  <body class="inside">
    <!-- wrp -->
    <div class="wrp">
      <!-- right panel -->
      <%= require('html-loader!../partials/auctionpanel.html') %>
      <!-- right panel -->

      <!-- header start -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="logo">
                <a href="/">
                  <img
                    src="<%= require('../images/auction-logo.png') %>"
                    alt="logo"
                  />
                </a>
              </div>

              <div class="menuBox">
                <ul>
                  <li class="">
                    <a href="index.html">Auction your product</a>
                  </li>
                  <li class="active"><a href="#">View Auctions</a></li>
                  <li><a href="#">My Auction</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- cardBox -->
      <section class="cardBox">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#home"
                ><span> Upcoming </span><i>12</i></a
              >
            </li>
            <li>
              <a data-toggle="tab" href="#menu1"
                ><span> Ongoing </span><i>8</i></a
              >
            </li>
            <li>
              <a data-toggle="tab" href="#menu2"
                ><span> Completed </span><i>3</i></a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <!-- prod-card -->
              <div class="prod-card">
                <div class="lt">
                  <img src="<%= require('../images/Image-8.jpg') %>" />
                </div>

                <div class="rt">
                  <div class="left">
                    <h1>Russian Slave Sculpture</h1>
                    <h2>English Auction</h2>
                    <h3>Owner: <span>123456789101234567890123456789</span></h3>
                    <div class="paragrph">
                      <p>
                        Head of King Sargon of Akkadwas, the first ruler of the
                        Akkadian Empire, known for his conquests of
                      </p>
                    </div>
                  </div>

                  <div class="right">
                    <h3>Reserve Price <span>$1,00,000</span></h3>
                    <h4>Min. Increment : $5,000</h4>

                    <ul>
                      <li>
                        <span>Start Date <cite>2 days left</cite></span>
                        <span>12th August, 8:00pm</span>
                      </li>

                      <li>
                        <span>Round Duration</span>
                        <span>1 hr 10 mins</span>
                      </li>
                    </ul>

                    <input type="button" class="btn" value="Shortlist" />
                  </div>
                </div>
              </div>
              <!-- prod-card -->

              <!-- prod-card -->
              <div class="prod-card">
                <div class="lt">
                  <img src="<%= require('../images/Image-8.jpg') %>" />
                </div>

                <div class="rt">
                  <div class="left">
                    <h1>Russian Slave Sculpture</h1>
                    <h2>English Auction</h2>
                    <h3>Owner: <span>123456789101234567890123456789</span></h3>
                    <div class="paragrph">
                      <p>
                        Head of King Sargon of Akkadwas, the first ruler of the
                        Akkadian Empire, known for his conquests of
                      </p>
                    </div>
                  </div>

                  <div class="right">
                    <h3>Reserve Price <span>$1,00,000</span></h3>
                    <h4>Min. Increment : $5,000</h4>

                    <ul>
                      <li>
                        <span>Start Date <cite>2 days left</cite></span>
                        <span>12th August, 8:00pm</span>
                      </li>

                      <li>
                        <span>Round Duration</span>
                        <span>1 hr 10 mins</span>
                      </li>
                    </ul>

                    <input type="button" class="btn" value="Shortlist" />
                  </div>
                </div>
              </div>
              <!-- prod-card -->

              <!-- prod-card -->
              <div class="prod-card">
                <div class="lt">
                  <img src="<%= require('../images/Image-8.jpg') %>" />
                </div>

                <div class="rt">
                  <div class="left">
                    <h1>Russian Slave Sculpture</h1>
                    <h2>English Auction</h2>
                    <h3>Owner: <span>123456789101234567890123456789</span></h3>
                    <div class="paragrph">
                      <p>
                        Head of King Sargon of Akkadwas, the first ruler of the
                        Akkadian Empire, known for his conquests of
                      </p>
                    </div>
                  </div>

                  <div class="right">
                    <h3>Reserve Price <span>$1,00,000</span></h3>
                    <h4>Min. Increment : $5,000</h4>

                    <ul>
                      <li>
                        <span>Start Date <cite>2 days left</cite></span>
                        <span>12th August, 8:00pm</span>
                      </li>

                      <li>
                        <span>Round Duration</span>
                        <span>1 hr 10 mins</span>
                      </li>
                    </ul>

                    <input type="button" class="btn" value="Shortlist" />
                  </div>
                </div>
              </div>
              <!-- prod-card -->
            </div>

            <div id="menu1" class="tab-pane fade"></div>

            <div id="menu2" class="tab-pane fade"></div>
          </div>
        </div>
      </section>
      <!-- cardBox -->
    </div>
    <!-- wrp -->
  </body>

  <%= require('html-loader!../partials/scripts.html') %>
</html>
